#root {
  display: flex;
  flex-wrap: wrap;
}

.header {
  background-color: blue;
  width: 100%;
}

.nav_bar {
  background-color: red;
  width: 20%;
  height: 70vh;
}

.main_content {
  background-color: yellow;
  flex-grow: 1;
  height: 70vh;

}

.footer {
  background-color: green;
  width: 100%;
}

/* .middle {
  display: flex;
  align-content: stretch;
} */